<footer class="footer text-center py-lg-4 mt-4">
  <ul class="container">
    <li id="instagram">
      <div class="socIcons">
        <a [href]="details[0]"><i class="fab fa-instagram"></i></a>
      </div>
    </li>
    <li id="twitter">
      <div class="socIcons">
        <a [href]="details[1]"><i class="fab fa-twitter"></i></a>
      </div>
    </li>
    <li id="mail">
      <div class="socIcons">
        <a [href]="details[2]"><i class="far fa-envelope"></i></a>
      </div>
    </li>
    <li id="whatsapp">
      <div class="socIcons">
        <a [href]="details[3]"><i class="fab fa-whatsapp"></i></a>
      </div>
    </li>
  </ul>
  <p class="text-muted">&copy; 2020 LaurelNigeria</p>
</footer>