<div id="top" class="text-center text-light">#StaySafe #BlackLivesMatter<i (click)="closeTop()" class="fas fa-times float-right ml-auto pt-1"></i></div>
<nav class="sticky-top bg-dark">
  <div class="container">
    <a routerLink="" class="navbar-brand">
      <img id="navLogo" class="img-fluid" src="assets/images/Laurel_crown_rounded.png" alt="laurel logo">
      <span id="brandFont">{{ brandName }}</span>
    </a>
    <div (click)="toggler()" id="ellipsis" class="float-right mr-2 mt-3"><i class="fas fa-ellipsis-v"></i></div>
    <div id="navbar" class= "nav-tabs">
      <a routerLink="" class="nav-link">Home</a>
      <a href="" class="nav-item">
        <div class="dropdown">
          <div class="dropdown-toggle nav-link" id="navDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</div>
          <div class="dropdown-menu" aria-labelledby="navDropdown">
            <a routerLink="shop-male" routerLinkActive="active" class="dropdown-item">Male</a>
            <a routerLink= "shop-female" routerLinkActive="active" class="dropdown-item">Female</a>
          </div>
        </div>
      </a>
      <a routerLink="about" routerLinkActive="active" class="nav-link">About Us</a>
      <a routerLink="contact" routerLinkActive="active" class="nav-link">Contact Us</a>
    </div>
  </div>
</nav>

<div id="sideNav" [@sideNavTrigger]= "shouldToggle? 'shown' : 'hidden'">
  <div (click)="toggler()" id="closeNav"><i class="fas fa-times"></i></div>
  <div class="container nav-tabs text-center" style="border-bottom: 0px;">
    <a routerLink="" (click)="toggler()" class="nav-link">Home</a>
    <a href="" class="nav-item">
      <div class="dropdown">
        <div class="dropdown-toggle nav-link" id="navDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</div>
        <div class="dropdown-menu" aria-labelledby="navDropdown">
          <a routerLink="shop-male" routerLinkActive="active" (click)="toggler()" class="dropdown-item">Male</a>
          <a routerLink="shop-female" (click)="toggler()" routerLinkActive="active" class="dropdown-item">Female</a>
        </div>
      </div>
    </a>
    <a routerLink="about" routerLinkActive="active" (click)="toggler()" class="nav-link">About Us</a>
    <a routerLink="contact" routerLinkActive="active" (click)="toggler()" class="nav-link">Contact Us</a>
  </div>
</div>