
@keyframes spinner{
  0% { transform: rotate(-360deg); }
}

.container{

  font-family: 'Mali', 'Lucida Grande', Arial, sans-serif;

  #spinner{
    width: 40px;
    height: 40px;
    border: 25px solid #999;
    border-top: 25px groove #444;
    border-radius: 50%;
    animation-name: spinner;
    animation-duration: 1s;
    animation-timing-function: .1s;
    animation-iteration-count: infinite;
    animation-direction: linear;
    // animation: name duration timing-function delay iteration-count direction fill-mode;
  }

}

