<div id="contact" class="container">
  <div class="card card-block bg-dark p-4 text-white neumorph">
    <h3>Contact Us</h3>
    <p class="lead">Got any comments, observations, or complaints? Send us a short message.<br><span class="info text-muted">(your email is recommended but not compulsory)</span></p>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="form-group" action="contact-submit.php" name="contactForm" method="POST">
      <div>
        <div class="input-group">
          <span class="input-group-addon text-white"><i class="far fa-user"></i></span>
          <input formControlName="name" type="text" name="name" class="form-control bg-dark ml-2 text-white" placeholder="your name..." required>
        </div>
        <div class="input-group">
          <span class="input-group-addon text-white"><i class="far fa-envelope"></i></span>
          <input formControlName="email" type="email" name="email" class="form-control bg-dark ml-2 text-white" placeholder="your email...">
        </div>
        <div class="input-group">
          <span class="input-group-addon text-white"><i class="fas fa-pencil-alt"></i></span>
          <textarea formControlName="message" name="message" cols="15" rows="7" class="form-control ml-2" placeholder="your message..." required></textarea>
        </div>
      </div>
      <div class="text-center">
        <input *ngIf="contactForm.valid" type="submit" name="submit" value="Send" id="submitBtn">
      </div>
    </form>
  </div>
  <div id="thanks" class="alert bg-dark text-white text-center my-4">Thanks for the feedback!<span (click)="closeThanks()" class="close text-white">&times;</span></div>
  <div>
    <!-- Hi <?php echo htmlspecialchars($_POST['contactForm']); ?> -->
  </div>
</div>

