
// Media Queries

// Mobile screens
@media screen and(max-width:768px){
  nav{
    width: 100%;
    
    #navbar{
      display: none;
    }
  }

  #introText{
    height: 190px;
    padding: 10px 5px;
    font-size: 17px;
  }

  #indexSlider{
    font-family: "Coming Soon", Arial, sans-serif;
  }

  .footer{
    padding-left: -10px;
  }

  #about{
    margin-top: 10px;
  }

  #profile{
    .card{
      width: 100%;
    }
  }
}

// Tablet screens
@media (min-width:768px) and (max-width:1024px){
  #indexSlider{
    .img-fluid{
      height: 590px;
    }
  }
}

// PC screens
@media screen and(min-width:768px){
  nav{
    #ellipsis{
      display: none;
    }

    #navbar{
      display: flex;
      float: right;
      margin-left: auto;
    }
  }

  #introText{
    height: 570px;
    padding: 30px;
    font: {
      family: 'Mali', 'Lucida Grande', Arial, sans-serif;
      weight: lighter;
      size: xx-large;
    }
  }

  #indexSlider{
    font-family: "Coming Soon", Arial, sans-serif;
    .carousel-inner{
      height: 570px;
    }
  }
}

//  END OF MEDIA QUERIES

// GENERAL STYLING

html{
  scroll-behavior: smooth;

  body{
    background-color: #dedede;
  }
}

@-webkit-keyframes spinner{
  0% {-webkit-transform: rotate(360deg);}
}
@keyframes spinner{
  0% {transform: rotate(360deg);}
}

#loader{
  position: absolute;
  top: 45%;
  left: 47%;
  border: 10px solid #ccc;
  border-top: 10px solid #2222ff;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  -webkit-animation: spinner 2s 0.3s infinite linear;
  animation: spinner 2s 0.3s infinite linear;
}
