<div class="container pt-2">
  <div class="row">
    <div id="introText" class="col-md-6 text-center pt-lg-4">Laurel&trade; is a luxury fashion label that makes street wears. The brand's clothing are known by customers to be of excellent and affordable quality.
    We have really nice merchandise for this fall and we think you should check them out.</div>
      
    <div class="col-md-6">
      <div id= "indexSlider" class= "carousel slide" data-ride= "carousel">
        <ol class= "carousel-indicators">
          <li class= "active" data-target= "#indexSlider" data-slide-to= "0"></li>
          <li data-target= "#indexSlider" data-slide-to= "1"></li>
          <li data-target= "#indexSlider" data-slide-to= "2"></li>
        </ol>
        <div class= "card">
          <div class= "carousel-inner" role= "listbox">
            <div class= "carousel-item text-center active">
              <img [src]= "carouselImages[0]" alt= "" class= "card-img-top img-fluid"/>
            </div>
            <div class= "carousel-item">
              <img [src]= "carouselImages[1]" alt= "" class= "card-img-top img-fluid"/>
            </div>
            <div class= "carousel-item">
              <img [src]= "carouselImages[2]" alt= "" class= "card-img-top img-fluid"/>
            </div>
          </div>
        </div>
        <div class= "card-img-overlay d-flex align-items-center justify-content-center">
          <a routerLink= "shop-male" class= "btn btn-outline-dark text-white mr-1">Male</a>
          <a routerLink= "shop-female" class= "btn btn-outline-dark text-white ml-1">Female</a>
        </div>
      </div>
    </div>
  </div>
</div>
